<!DOCTYPE html>
<html>
<header>
    <title>Index</title>
    <style>
        .container{
            display: -webkit-flex;
            display: flex;
        }

        nav{
            width: 200px;
        }

        .flex-column{
            -webkit-flex:1;
            flex: 1;
        }
    </style>
</header>

<body>

    <div class="container">
        <nav>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
        </nav>

        <div class="flex-column">
            <section>
                Flexbox好容易使用！
            </section>
            <section>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
                nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
                congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula,
                facilisis
                sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue.
                Nunc
                sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed
                ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
                fermentum.
                Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
            </section>
        </div>

    </div>


    <script type="text/javascript">
    </script>
</body>

</html>