<!DOCTYPE html>
<html>
<header>
    <title>Index</title>
    <style>

        .box2 {
            display: inline-block;
            width: 200px;
            height: 100px;
            margin: 1em;
            border: solid wheat 5px;
        }

    </style>
</header>

<body>

    <div class="box2">
        我是inline-block
    </div>
    <div class="box2">
        我是inline-block
    </div>
    <div class="box2">
        我是inline-block
    </div>
    <div class="box2">
        我是inline-block
    </div>
    <div class="box2">
        我是inline-block
    </div>
    <div class="box2">
        我是inline-block
    </div>
    <div class="box2">
        我是inline-block
    </div>
    <div class="box2">
        我是inline-block
    </div>
    <div class="box2">
        我是inline-block
    </div>

    <div>这次我可没有用 clear 。太棒了！</div>

    <script type="text/javascript">
    </script>
</body>

</html>