<!DOCTYPE html>
<html>
<header>
    <title>Index</title>
    <style>
        
        nav{
            background-color: aquamarine;
        }
        section{
            background-color: darkgoldenrod;
        }

        @media screen and (min-width:600px){
            nav{
                float: left;
                width: 25%;
            }
            section{
                margin-left: 25%;
            }
        }

        @media screen and (max-width:599px){
            nav li{
                display: inline;
            }
        }

    </style>
</header>

<body>
    <nav>
        <li>第一回 宴桃园豪杰三结义斩黄巾英雄首立功</li>
        <li>第二回</li>
        <li>第三回</li>
        <li>第四回</li>
        <li>第五回</li>
        <li>第六回</li>
    </nav>
    <section>当你调整浏览器窗口大小时，布局比以前更酷了！使用 <a href="http://dev.opera.com/articles/view/an-introduction-to-meta-viewport-and-viewport/">meta viewport</a> 之后可以让你的布局在移动浏览器上显示的更好。</section>
    <br>
    <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</section>
    <script type="text/javascript">
    </script>
</body>

</html>